build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/.gradle/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
*.apk
*.aab
